.kwp-row {
  margin-left: -12.5px;
  margin-right: -12.5px;
}

.kwp-row:before,
.kwp-row:after {
  content: " ";
  display: table;
}

.kwp-row:after {
  clear: both;
}

.kwp-col-1,
.kwp-col-2of7,
.kwp-col-3of7,
.kwp-col-4of7 {
  width: 8.33333333%;
}

.kwp-col-2 {
  width: 16.66666667%;
}

.kwp-col-3 {
  width: 25%;
}

.kwp-col-4,
.kwp-col-ages {
  width: 33.33333333%;
}

.kwp-col-5 {
  width: 41.66666667%;
}

.kwp-col-6 {
  width: 50%;
}

.kwp-col-7 {
  width: 58.33333333%;
}

.kwp-col-8,
.kwp-show-ages .kwp-col-time {
  width: 66.66666667%;
}

.kwp-col-9 {
  width: 75%;
}

.kwp-col-10 {
  width: 83.33333333%;
}

.kwp-col-11 {
  width: 91.66666667%;
}

.kwp-col-12,
.kwp-col-time {
  width: 100%;
}

.kwp-col-1,
.kwp-col-2of7,
.kwp-col-3of7,
.kwp-col-4of7,
.kwp-col-2,
.kwp-col-3,
.kwp-col-4,
.kwp-col-ages,
.kwp-col-5,
.kwp-col-6,
.kwp-col-7,
.kwp-col-8,
.kwp-show-ages .kwp-col-time,
.kwp-col-9,
.kwp-col-10,
.kwp-col-11,
.kwp-col-12,
.kwp-col-time {
  float: left;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

/**** Datepicker ****/

.datepicker-dropdown .day,
.datepicker-dropdown .month,
.datepicker-dropdown .year {
  background-color: #fff;
  border-bottom: 1px solid #f3f0ec;
  border-radius: 0;
  color: #092a5e;
  font-weight: 300;
  height: 40px;
}

.datepicker table tr td,
.datepicker table tr th {
  border: medium none;
  border-radius: 4px;
  height: 30px;
  text-align: center;
  width: 30px;
  font-weight: normal;
}

.datepicker-dropdown .day.active,
.datepicker-dropdown .day.active.active:hover,
.datepicker-dropdown .day.active:hover,
.datepicker-dropdown .day.active.active:hover:hover,
.datepicker-dropdown .month.active,
.datepicker-dropdown .month.active.active:hover,
.datepicker-dropdown .month.active:hover,
.datepicker-dropdown .month.active.active:hover:hover,
.datepicker-dropdown .year.active,
.datepicker-dropdown .year.active.active:hover,
.datepicker-dropdown .year.active:hover,
.datepicker-dropdown .year.active.active:hover:hover {
  background-color: #092a5e;
  border-color: transparent;
  color: #fff;
  text-shadow: none;
}

.datepicker .datepicker-switch {
  color: #092a5e;
  font-weight: 700;
}

.kwp-col-ages {
  display: none;
}

.kwp-show-ages .kwp-col-ages {
  display: block;
}

.kwp-close-button {
  cursor: pointer;
  width: 39px;
  height: 39px;
  background: transparent url(/images/close.png?6172520f0e183e41df0e8469b37ba23f) no-repeat center center/20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.trigger-modal {
  width: 50px;
  height: 50px;
  position: fixed;
  display: none;
  background: #e4cd34 url(/images/pensil.png?97cddcbc5d604f29fc858ad0b37fbc97) no-repeat center/40%;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
  color: #fff;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
  /*transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;*/
  z-index: 111;
  cursor: pointer;
  -webkit-animation: rotation 10s infinite;
  animation: rotation 10s infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: scale(1);
  }

  2% {
    -webkit-transform: scale(1.2);
  }

  4% {
    -webkit-transform: scale(1);
  }

  6% {
    -webkit-transform: scale(1.2);
  }

  8% {
    -webkit-transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.2);
  }

  12% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: scale(1);
  }

  2% {
    -webkit-transform: scale(1.2);
  }

  4% {
    -webkit-transform: scale(1);
  }

  6% {
    -webkit-transform: scale(1.2);
  }

  8% {
    -webkit-transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.2);
  }

  12% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.kwizzme-modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
  font-size: 15px;
  line-height: 19px;
}

.kwizzme-modal.tmp-hidden {
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
  -moz-transition: transform 0.75s ease;
  visibility: hidden;
  opacity: 0;
}

.kwizzme-modal.tmp-hidden .kwp {
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
  -moz-transition: transform 0.75s ease;
  -webkit-transform: translate(125%, 100%) scale(0.01);
          transform: translate(125%, 100%) scale(0.01);
  visibility: hidden;
}

.kwizzme-modal * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.kwizzme-modal-agb {
  background: rgba(0, 0, 0, 0.7);
  display: block;
}

.kwizzme-modal-agb .kwp {
  padding: 30px;
  background: #fff;
  margin: 10vh auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  display: block;
  height: 80vh;
}

.kwizzme-modal-agb .kwp-agb-content {
  overflow: auto;
  padding: 0 15px 15px 15px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.kwp {
  background: #fff;
  /*border: 1px solid #efefef;*/
  width: 760px;
  margin: 50px auto 50px auto;
  font-family: TUITypeLight, sans-serif;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: opacity 0.15s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.15s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.15s ease-out;
  transition: transform 0.1s ease-out, opacity 0.15s ease-out, -webkit-transform 0.1s ease-out;
  position: relative;
  /* TUI INPUT STYLES FOR WL */
}

.kwp input[type=date],
.kwp input[type=text],
.kwp input[type=email],
.kwp input[type=number],
.kwp textarea,
.kwp select {
  width: 100%;
  height: 25px;
}

.kwp textarea {
  height: 60px;
  padding: 5px;
}

.kwp label {
  margin: 0 0 2px 0;
  display: block;
  font-weight: bold;
}

.kwp label.required:after {
  content: '*';
  color: #000;
}

.kwp button[type=submit] {
  border-radius: 4px;
  border: solid 1px #d8c12d;
  background: linear-gradient(179deg, #fce136 0, #e4cd34 100%);
  -webkit-box-shadow: inset 0 1px 2px #fff;
          box-shadow: inset 0 1px 2px #fff;
  text-align: center;
  font-family: TUITypeLight, sans-serif;
  color: #252525;
  font-size: 22px;
  font-weight: 700;
  text-shadow: 2px 1px 1px #fff19b;
  line-height: 30px;
  display: block;
  width: 100%;
  padding: 5px 0;
  margin-top: 15px;
}

.kwp button[type=submit]:active {
  background: linear-gradient(179deg, #e4cd34 0, #fce136 100%);
}

.kwp input[type="text"],
.kwp input[type="password"],
.kwp input[type="email"],
.kwp input[type="emailFeedback"],
.kwp input[type="date"],
.kwp input[type="number"],
.kwp input[type="telnumber"],
.kwp input[type="tel"],
.kwp textarea {
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  padding-left: 7px;
  outline: none;
  border: 1px solid #aaa;
  color: #252525;
  font-size: 12px;
  font-family: "HelveticaNeueLT Std", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
}

.kwp input[type="text"]:hover,
.kwp input[type="password"]:hover,
.kwp input[type="email"]:hover,
.kwp input[type="emailFeedback"]:hover,
.kwp input[type="date"]:hover,
.kwp input[type="number"]:hover,
.kwp input[type="telnumber"]:hover,
.kwp input[type="tel"]:hover,
.kwp textarea:hover,
.kwp input[type="text"]:focus,
.kwp input[type="password"]:focus,
.kwp input[type="email"]:focus,
.kwp input[type="emailFeedback"]:focus,
.kwp input[type="date"]:focus,
.kwp input[type="number"]:focus,
.kwp input[type="telnumber"]:focus,
.kwp input[type="tel"]:focus,
.kwp textarea:focus {
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
  border-color: #ffe336;
}

.kwp input[type="radio"],
.kwp input[type="checkbox"] {
  margin: 0;
}

.kwp form a {
  text-decoration: none;
}

.kwp.kwizzme-modal-visible {
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

.kwp-completed h1 {
  font-size: 26px;
  margin: 15px 0;
  color: #20355a;
}

.kwp-completed p {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
}

.kwp-completed a {
  color: #DB2128;
}

ul.kwp-form-errors {
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 11px;
  color: #DB8021;
  font-family: TUITypeLight, sans-serif;
}

.kwp-form-email-hint {
  font-size: 14px;
  font-family: TUITypeLight, sans-serif;
  color: #64C3D7;
  display: none;
  cursor: pointer;
}

.kwp-form-group-minimal-email .kwp-form-email-hint {
  padding: 0 0 0 140px;
  position: absolute;
  top: -22px;
}

.kwp-logo {
  display: block;
  height: 50px;
  background: transparent url(/images/logo.png?48b8c8b293a2d7e03bf7be9dc6126b89) no-repeat left top;
}

.kwp-content,
.kwp-content-extra-inner {
  padding: 10px 30px;
}

.kwp-content.kwp-with-expansion {
  padding-bottom: 0;
  position: relative;
}

.kwp-header-content {
  margin-top: 65px;
}

.kwp-header-content h1 {
  margin: 15px 0 0 0;
  color: #20355a;
  font-size: 36px;
  font-weight: 700;
}

.kwp-header-content p {
  margin: 10px 0 0 0;
  font-family: "HelveticaNeueLT Std", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  color: #818181;
  font-size: 17px;
  font-weight: 400;
  width: 445px;
}

.kwp-header {
  border-radius: 4px 4px 0 0;
  background: transparent url(/images/visual_2_smile_TUI.jpg?d0ec4db523bbb03b5f404417c6bcd6d2) no-repeat center center;
  min-height: 250px;
}

.kwp-header.kwp-variant-eil-d-agent1a,
.kwp-header.kwp-variant-eil-d-agent1b,
.kwp-header.kwp-variant-eil-d-agent1c,
.kwp-header.kwp-variant-eil-d-agent2a,
.kwp-header.kwp-variant-eil-d-agent2b,
.kwp-header.kwp-variant-eil-d-agent2c,
.kwp-header.kwp-variant-eil-n4 {
  background-image: url(/images/visual_2_smile_TUI.jpg?d0ec4db523bbb03b5f404417c6bcd6d2);
}

.kwp-header.kwp-variant-eil-d-agent1a .kwp-header-content p,
.kwp-header.kwp-variant-eil-d-agent1b .kwp-header-content p,
.kwp-header.kwp-variant-eil-d-agent1c .kwp-header-content p,
.kwp-header.kwp-variant-eil-d-agent2a .kwp-header-content p,
.kwp-header.kwp-variant-eil-d-agent2b .kwp-header-content p,
.kwp-header.kwp-variant-eil-d-agent2c .kwp-header-content p,
.kwp-header.kwp-variant-eil-n4 .kwp-header-content p {
  width: 430px;
  color: #555;
}

.kwp-header.kwp-variant-eil-d-beach2 {
  background-image: url(/images/visual_2_smile_TUI.jpg?d0ec4db523bbb03b5f404417c6bcd6d2);
}

.kwp-header.kwp-variant-eil-d-beach2 .kwp-header-content p {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  color: #333;
}

.kwp-minimal .kwp-footer.kwp-with-expansion {
  padding-top: 55px;
}

.kwp-minimal label.required:after {
  content: '';
}

.kwp-minimal .kwp-agb {
  font-size: 10px;
  padding-top: 10px;
  line-height: 1.3em;
}

.kwp-minimal .kwp-tooltip-icon {
  margin: 0;
  padding-right: 5px;
}

.kwp-header {
  padding: 30px;
}

.kwp-content-extra {
  overflow: hidden;
  max-height: 190px;
  -webkit-transition: max-height 150ms;
  transition: max-height 150ms;
}

.kwp-content-extra.kwp-collapsed {
  max-height: 0;
}

.kwp-content-extra-inner {
  border-top: solid 1px #DEDEDE;
}

.kwp-content-extra,
.kwp-content {
  background: #f2f2f2;
}

.kwp-header-content {
  opacity: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.kwp-header-content.hidden-content {
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.kwp-footer {
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 15px 30px;
  position: relative;
}

.kwp-footer.kwp-with-expansion {
  border-top: solid 2px #FCE237;
  padding-top: 40px;
}

.kwp-btn-expand {
  color: #252525;
  background-color: #DCDCDC;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 -30px;
  padding: 5px 0;
  position: relative;
}

.kwp-btn-expand:after {
  display: inline-block;
  content: ' ';
  background: transparent url(/images/arrow.png?e03a8fa782cb13f7085a7e18cb081f51) no-repeat left -10px;
  width: 18px;
  height: 10px;
  margin-left: 5px;
}

.kwp-btn-expand.kwp-open:after {
  background-position: 0 top;
}

p.kwp-info {
  font-weight: bold;
  padding: 0;
  margin: 0 0 5px 0;
}

.kwp-body {
  position: relative;
  min-height: 150px;
  background: #f2f2f2;
  border-radius: 0 0 4px 4px;
}

.kwp-body .kwp-close {
  display: none;
}

.kwp-body.eil-at-body {
  font-family: 'Foco W02 Light',sans-serif;
}

.kwp-body.eil-at-body button[type=submit] {
  background: #cc0066;
  border: solid 1px #cc0066;
  color: #fff;
  text-shadow: initial;
  font-family: 'Foco W02 Light',sans-serif;
}

.kwp-body.eil-at-body button[type=submit]:hover {
  background: #f39;
}

.kwp-body.eil-at-body input[type="text"] {
  font-family: 'Foco W02 Light',sans-serif;
  border-radius: 4px !important;
}

.kwp-body.eil-at-body input[type="text"]:focus,
.kwp-body.eil-at-body input[type="text"]:hover {
  border-color: #cc0066;
}

.kwp-body.eil-at-body textarea:focus,
.kwp-body.eil-at-body textarea:hover {
  border-color: #cc0066;
}

.kwp-body.eil-at-body .kwp-spinner {
  border-color: #cc0066;
  border-right-color: transparent;
}

.kwp-body.eil-at-body .kwp-star:after {
  background: transparent url(/images/star_r.png?c4c8dd65b819410e0a037b959c2462fb) no-repeat -20px center;
}

.kwp-form-group {
  margin-bottom: 10px;
}

.kwp-form-no-group-margin .kwp-form-group {
  margin-bottom: 0;
}

.kwp-form-group-minimal-email {
  position: relative;
}

.kwp-form-group-minimal-email input,
.kwp-form-group-minimal-email label {
  display: inline-block !important;
}

.kwp-form-group-minimal-email label {
  width: 130px !important;
}

.kwp-form-group-minimal-email input {
  width: 255px !important;
}

.kwp-agb {
  padding-top: 4px;
  font-size: 12px;
  font-family: "HelveticaNeueLT Std", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
}

.kwp-agb .kwp-col-1,
.kwp-agb .kwp-col-2of7,
.kwp-agb .kwp-col-3of7,
.kwp-agb .kwp-col-4of7 {
  padding-right: 0;
  margin-right: 0;
  padding-top: 1px;
}

.kwp-agb .kwp-col-11 {
  padding-left: 0;
}

.kwp-agb .kwp-col-11 a {
  text-decoration: underline;
}

.kwp-agb input {
  vertical-align: text-top;
}

.kwp-agb label {
  font-weight: normal;
  display: inline-block;
  color: #a7a7a7;
  margin: 0;
}

.kwp-agb label a {
  text-decoration: underline;
  color: inherit !important;
}

.kw-overlay-notActive {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 1;
}

.kwp-custom-select {
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#c6c6c6));
  background: linear-gradient(to bottom, #f4f4f4 0%, #c6c6c6 100%);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
  position: relative;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.kwp-custom-select:after {
  content: ' ';
  background: url(/images/arrow_down.png?380064a601f3f8a24c753967528dde60);
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 24px;
  border-left: 1px solid #aaa;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.kwp-custom-select select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
  font-family: "HelveticaNeueLT Std", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  padding: 0 2px;
  line-height: 23px;
  z-index: 2;
  text-indent: 2px;
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.kwp-spinner {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
          animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  height: 50px;
  width: 50px;
  border: 10px solid #fce237;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin: -25px;
}

@-webkit-keyframes colours {
  0% {
    color: red;
  }

  15% {
    color: orange;
  }

  30% {
    color: yellow;
  }

  60% {
    color: green;
  }

  90% {
    color: blue;
  }

  100% {
    color: red;
  }
}

@keyframes colours {
  0% {
    color: red;
  }

  15% {
    color: orange;
  }

  30% {
    color: yellow;
  }

  60% {
    color: green;
  }

  90% {
    color: blue;
  }

  100% {
    color: red;
  }
}

.kwp-colours {
  -webkit-animation-name: colours;
          animation-name: colours;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.kwp-star-input {
  text-align: left;
}

.kwp-star {
  width: 30px;
  height: 25px;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
}

.kwp-star:after {
  content: ' ';
  width: 20px;
  height: 25px;
  background: transparent url(/images/sun.png?1e338dc3fb1e6d4e8dac76daffafdc96) no-repeat -19px center;
  display: inline-block;
}

.kwp-star:active {
  margin-top: -1px;
}

.kwp-star-full:after,
.kwp-body.eil-at-body .kwp-star-full:after {
  background-position: 0 center;
}

.kwp-tooltip-icon {
  display: inline-block;
  background: transparent url(/images/info.png?2462daa1cac2e21406c2f49dd915b7c7) no-repeat center center;
  vertical-align: text-bottom;
  width: 17px;
  height: 17px;
  position: relative;
  margin-left: 10px;
}

.kwp-tooltip-icon .kwp-tooltip-text {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  width: 174px;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  left: 23px;
  position: absolute;
  top: -2px;
}

.kwp-tooltip-icon .kwp-tooltip-text .kwp-tooltip-arrow {
  position: absolute;
  top: 5px;
  width: 0;
  left: -5px;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
  -webkit-transform: rotate(360deg);
}

.kwp-tooltip-icon:hover .kwp-tooltip-text {
  display: block;
}

.kwp-continent label {
  height: 38px;
}

#agb_link {
  text-decoration: underline;
}

.email-label-info {
  font-size: 69%;
  display: block;
  line-height: normal;
}

