.el-transfer-panel {
    width: 40% !important;
}
.el-upload__input {
    display: none !important;
}
.modal-content {
    box-shadow: 0 0 25px #111 !important;
}
.navbar-dark {
    background-color: #575756;
}
.vuetable thead {
    color: #fff;
    background-color: #6897B1;
}
.vuetable th.sortable:hover {
    color: #fff !important;
}
[v-cloak] {
    display: none;
}

.bg-steel {
    background-color: #6897B1;
}
.text-steel {
    color: #6897B1;
}
.bg-mint {
    background-color: #1cbac8;
}
