@import "variables";

// Html, body, main-containers

html, body{
  overflow: auto;
}
body{
  &.landing{
    padding-top: 0px;
    #app{
      .main-container{
        margin: 0;
        width: 100%;
        padding: 0;
      }
    }
  }
  &.wish{
    #app {
      .main-container {
        margin: 0;
        width: 100%;
        padding: 0;
      }
    }
  }
  &.wishlist {
    #app {
      .main-container {
        margin-top: 0;
      }
    }
  }
}

// Buttons

.primary-btn, .secondary-btn{
  padding: 5px 20px;
  min-width: 220px;
}

// color styles defined in app.js

// a.primary-btn, .primary-btn, a.btn-primary, .btn-primary, input.primary-btn{
//   background: $brand-primary;
//   border: 1px solid $brand-primary;
//   transition: all .3s ease-out;
//   &:visited{
//     background: $brand-primary;
//     border: 1px solid $brand-primary;
//   }
//   &:hover, &:active{
//     background: $brand-secondary;
//     border: 1px solid $brand-secondary;
//   }
// }
// a.secondary-btn, .secondary-btn, a.btn-secondary, .btn-secondary{
//   color: $brand-primary;
//   border: 1px solid $brand-primary;
//   transition: all .3s ease-out;
//   &:visited{
//     color: $brand-primary;
//     border: 1px solid $brand-primary;
//   }
//   &:hover, &:active{
//     color: $brand-secondary;
//     border: 1px solid $brand-secondary;
//   }
// }

// Wish modal

.wish-modal-1 .modal-body-left input[value=""]~label {
  top: 5px !important;
  font-size: 10px !important;
  color: #bbb !important;
}

// Slider

.slider{
  width: 100%;
  height:700px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  .welcome{
    position: absolute;
    top: 50px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    strong{
      display: block;
      font-size: 35px;
      line-height: 70px;
      font-weight: 400;
    }
  }
  .layer-action{
    position: absolute;
    bottom: 240px;
    left: 0;
    right: 0;
    text-align: center;
    a{
      font-size: 24px;
      text-transform: uppercase;
      padding: 15px 35px;
      line-height: 1.5em;
      letter-spacing: 0.42px;
    }
  }
}
//AutoOffer section
.offers{
  .label{
    color: #df007a;
  }
}
.btn-primary,.btn-primary:hover{
  background-color: #df007a;
}
// Footer

.footer{
  ul{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    li{
      display: inline-block;
      padding:0 10px 0 10px;
      &:last-child {
        position: absolute;
        right: 0;
        &:before{
          content: "\00a9   " attr(data-copyyear);
          margin-right: 6px;
        }
      }
    }
  }
}

/***Custom CSS***/
.about-section h3{
  font-weight: normal !important;
}
.action {
  text-align: center;
  .btn {
    background-color: #df007a !important;
  }
}
.price .btn-primary{
    background-color: #DF007A !important;
}
.slick-slider .btn-primary{
  background-color:  #df007a !important;
}
.fas.fa-heart{
  color: #DF007A !important;
}
.fa.fa-chevron-left, .fa.fa-chevron-right{
  color: white !important;
}
.offers .recommandations .average{
  border-color: #777777 !important;
}
.fas.fa-check, .offers .fulfill span, .fas.fa-map-marker-alt{
  color: #777777 !important;
}
progress::-webkit-progress-value{
  background: #DF007A !important;
}
@media (max-width:37.49em) {
  .shell{
    padding: 25px !important;
    display: flex !important;
    flex-direction: column;
    main{
      order: 2;
    }
    aside{
      order: 1;
    }
    main, aside{
      width: 100% !important;
    }
  }
  .gallery-section .btn{
    font-size: 12px;
  }
  .location-section, .navigation{
    display: none;
  }
  .reviews-section{
    padding-left: 20px !important;
  }
  .equipment-section .icons{
    padding-left: 0 !important;
  }
  main .sections-wrapper{
    padding-right: 0 !important;
  }
}
/*****ICONS CUSTOM********/
.price{
  position: relative;
}
.info-icons{
  position: absolute;
  left: 0;
  display: inline-flex;
  .info{
    padding: 0px 20px 0px 20px;
    i{
      padding: 7px ;
    }
  }
}
.info:hover i {
  background-color: #df007a;
  color: white !important;
}
.price .info i{
  color: #777777;
}
.price .info:hover .info-detail{
  display: block;
}
.info-detail{
  position: absolute;
  top: -200%;
  width: 100px;
  background-color: white;
  display: none;
  ul {
    list-style: none;
  }

  ul li:before {
    content: '✓';
    font-size: 18px !important;
    color: green !important;
    font-weight: bold !important;
  }
  .up{
    background-color: #DF007A;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid #DF007A;
  }
  .down{
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid #DF007A;
  }
}
/***End Custom CSS***/