// Typography

h1{
  @include heading($size: 80px, $weight: bold);
}

h2{
  @include heading($size: 36px, $weight: bold);
}

h3{
  @include heading($size: 30px, $weight: normal);
}

h4{
  @include heading($size: 24px, $weight: normal);
}

h5{
  @include heading($size: 18px, $weight: normal);
}

h6{
  @include heading($size: 14px, $weight: normal);
}


p{
  font-size: 14px;
  color: $paragraph-color;
}


// Forms

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
a, a:hover, a:active, a:focus {
  outline: 0;
}



// App Global Styles

#app{
  padding-top: 0px;
  .main-container{
    margin-top: 50px;
  }
  .btn-main{
    width: 100%;
    border: none;
    margin-top: 20px;
  }
}
[v-cloak] {
  display: none;
}
.btn{
  padding: 5px 25px;
  @include border-radius(2px);
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


// Pagination
.pagination{
  margin: 50px auto;
  display: block;
  text-align: center;
  .arrow{
    padding: 5px 10px;
    margin-right: 10px;
    @include border-radius(2px);
    background: $main-color;
    color: white;
    cursor:pointer;
    &.disabled{
      background: #eee;
      color: #ccc;
    }
    &:hover{
      text-decoration:none;
    }
  }
  .pagination-list{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 200px;
    li{
      display: inline-block;
      margin: 0 10px;
      a{
        cursor:pointer;
        &.is-current{
          color: #ddd;
        }
      }
    }
  }
}




.navbar-right{
  a{
    cursor: pointer;
  }
}