@import "utils";
@import "rangeslider";
@import "../variables";

$gutter: 30px;
$altfont: 'Roboto', sans-serif;
$zindex: 10000;
$eil-border-radius: 4px;
$mastergrey: #737373;
$master-blue: #70CBF4;
$fontcolor: #303030;
/* dropdown */


//
// Dropdown menus
// --------------------------------------------------
.dt-modal {

  // Custom select
  .custom-select {
    margin-top: 15px;
    color: $master-primary;
    border: none;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    border-color: $master-primary;
    font-weight: 500;
  }

  // Dropdown arrow/caret
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: $caret-width-base solid;
    border-right: $caret-width-base solid transparent;
    border-left: $caret-width-base solid transparent;
  }

  // The dropdown wrapper (div)
  .dropdown {
    position: relative;
  }

  // Prevent the focus on the dropdown toggle when closing dropdowns
  .dropdown-toggle:focus {
    outline: 0;
  }

  // The dropdown menu (ul)
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    list-style: none;
    font-size: $font-size-base;
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-fallback-border; // IE8 fallback
    border: 1px solid $dropdown-border;
    border-radius: $border-radius-base;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;

    .selected {
      background: #dedede;
      color: #fff;
      border: none !important;
    }

    // Aligns the dropdown menu to right
    //
    // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
    &.pull-right {
      right: 0;
      left: auto;
    }

    // Links within the dropdown menu
    > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: $line-height-base;
      color: $dropdown-link-color;
      white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
  }

  // Hover/Focus state
  .dropdown-menu > li > a {
    &:hover,
    &:focus {
      text-decoration: none;
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
  }

  // Active state
  .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-active-color;
      text-decoration: none;
      outline: 0;
      background-color: $dropdown-link-active-bg;
    }
  }

  // Disabled state
  //
  // Gray out text and ensure the hover/focus state remains gray

  .dropdown-menu > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-disabled-color;
    }
  }

  // Nuke hover/focus effects
  .dropdown-menu > .disabled > a {
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none; // Remove CSS gradient
      cursor: not-allowed;
    }
  }

  // Open state for the dropdown
  .open {
    // Show the menu
    > .dropdown-menu {
      display: block;
    }

    // Remove the outline when :focus is triggered
    > a {
      outline: 0;
    }
  }

  // Menu positioning
  //
  // Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
  // menu with the parent.
  .dropdown-menu-right {
    left: auto; // Reset the default from `.dropdown-menu`
    right: 0;
  }

  // With v3, we enabled auto-flipping if you have a dropdown within a right
  // aligned nav component. To enable the undoing of that, we provide an override
  // to restore the default dropdown menu alignment.
  //
  // This is only for left-aligning a dropdown menu within a `.navbar-right` or
  // `.pull-right` nav component.
  .dropdown-menu-left {
    left: 0;
    right: auto;
  }

  // Dropdown section headers
  .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: $font-size-small;
    line-height: $line-height-base;
    color: $dropdown-header-color;
  }

  // Backdrop to catch body clicks on mobile, etc.
  .dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: ($zindex-dropdown - 10);
  }

  // Right aligned dropdowns
  .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }

  // Allow for dropdowns to go bottom up (aka, dropup-menu)
  //
  // Just add .dropup after the standard .dropdown class and you're set, bro.
  // TODO: abstract this so that the navbar fixed styles are not placed here?

  .dropup,
  .navbar-fixed-bottom .dropdown {
    // Reverse the caret
    .caret {
      border-top: 0;
      border-bottom: $caret-width-base solid;
      content: "";
    }

    // Different positioning for bottom up menu
    .dropdown-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: 1px;
    }
  }
}

// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      right: 0; left: auto;
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      left: 0; right: auto;
    }
  }
}



@include make-columns(12, $gutter - 5px, 'kwp-');


.rangeslider__fill{
  background-color: $master-primary;
}

/**** Datepicker ****/
.ui-datepicker {
  z-index: 100001 !important;
}
.datepicker-dropdown .day, .datepicker-dropdown .month, .datepicker-dropdown .year {
  background-color: #fff;
  border-bottom: 1px solid #f3f0ec;
  border-radius: 0;
  color: $master-primary;
  font-weight: 300;
  height: 40px;
}
.datepicker table tr td, .datepicker table tr th {
  border: medium none;
  border-radius: 4px;
  height: 30px;
  text-align: center;
  width: 30px;
  font-weight: normal;
}
.datepicker-dropdown .day.active, .datepicker-dropdown .day.active.active:hover, .datepicker-dropdown .day.active:hover,.datepicker-dropdown .day.active.active:hover:hover, .datepicker-dropdown .month.active, .datepicker-dropdown .month.active.active:hover, .datepicker-dropdown .month.active:hover, .datepicker-dropdown .month.active.active:hover:hover, .datepicker-dropdown .year.active, .datepicker-dropdown .year.active.active:hover, .datepicker-dropdown .year.active:hover, .datepicker-dropdown .year.active.active:hover:hover {
  background-color: $master-primary;
  border-color: transparent;
  color: #fff;
  text-shadow: none;
}
.datepicker .datepicker-switch{
  color: $master-primary;
  font-weight: 700;
}

.kwp-col-time {
  @extend .kwp-col-12;

  .kwp-show-ages & {
    @extend .kwp-col-8;
  }
}

.kwp-col-ages {
  @extend  .kwp-col-4;
  display: none;

  .kwp-show-ages & {
    display: block;
  }
}

.kwp-close-button {
  cursor: pointer;
  width: 39px;
  height: 39px;
  background: transparent url(../../images/layer/close.png) no-repeat center center;
  position: absolute;
  top: -50px;
  right: 0;
}

.trigger-modal{
  width: 75px;
  height: 75px;
  position: fixed;
  display: none;
  background: url(../../images/layer/pensil.png) no-repeat center / 60%;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
  color: $fontcolor;
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
  /*transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;*/
  z-index: 111;
  cursor: pointer;
  -webkit-animation: rotation 10s infinite ;
  animation: rotation 10s infinite ;
}
@-webkit-keyframes rotation {
  0% {-webkit-transform: scale(1);}
  2%   {-webkit-transform: scale(1.2);}

  4% {-webkit-transform: scale(1);}
  6% {-webkit-transform: scale(1.2);}

  8%   {-webkit-transform: scale(1);}
  10% {-webkit-transform: scale(1.2);}

  12% {-webkit-transform: scale(1);}

  100% {transform: scale(1);}

}
@keyframes rotation {
  0% {-webkit-transform: scale(1);}
  2%   {-webkit-transform: scale(1.2);}

  4% {-webkit-transform: scale(1);}
  6% {-webkit-transform: scale(1.2);}

  8%   {-webkit-transform: scale(1);}
  10% {-webkit-transform: scale(1.2);}

  12% {-webkit-transform: scale(1);}

  100% {transform: scale(1);}
}
.dt-modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  display: block;

  width: 100%;
  height: 100%;
  top: 0;
  z-index: $zindex;

  font-size: 15px;
  line-height: 19px;
  *:focus {
    outline: none;
  }
  .teaser{
    height: 90px !important;
    top: -110px;
    background-color: rgba(255, 221, 0, 0.8);
    width: 95%;
    padding: 0 0px;
    margin: auto;
    background-size: 100px;
    background-position: left bottom;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    z-index: 9999999;
    &.inactive-left{
      left:-1000px;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
    }
    &.inactive-right{
      left:+1000px;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
    }
    h1{
      font-size: 24px;
      margin: 10px;
      text-align: center;
      padding-top: 20px;
      color: $fontcolor;
      line-height: 1.5em;
    }
    i{
      position: absolute;
      color: $fontcolor;
      right: 0px;
      top: 7px;
      font-size: 30px;
      width: 30px;
      height: 30px;
    }
  }
  &.tmp-hidden{
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    visibility: hidden;
    opacity: 0;
    .kwp{
      transition: transform 0.5s ease;
      -webkit-transition: transform 0.5s ease;
      -moz-transition: transform 0.5s ease;
      transform: translate(125%, 100%) scale(0.01);
      visibility: hidden;
    }
  }
  * {
    box-sizing: border-box;
  }
}

.dt-modal-agb {
  background: rgba(0, 0, 0, 0.7);
  display: block;

  .kwp {
    padding: 30px;
    background: #fff;
    margin: 10vh auto;
    transform: translate(0, 0);
    display: block;
    height: 80vh;
  }

  .kwp-agb-content {
    overflow: auto;
    padding: 0 15px 15px 15px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.kwp {
  background: #fff;
  /*border: 1px solid #efefef;*/
  width: 760px;
  margin: 100px auto 50px auto;

  border-radius: $eil-border-radius;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  transition: transform 0.1s ease-out, opacity 0.15s ease-out;
  position: relative;

  input[type=date],
  input[type=text],
  input[type=email],
  input[type=number],
  textarea,
  select {
    width: 100%;
    height: 25px;
  }

  textarea {
    height: 60px;
    padding: 5px;
  }

  label {
    margin: 0 0 2px 0;
    display: block;
    font-weight: bold;

    &.required:after {
      content: '*';
      color: #000;
    }
  }

  button[type=submit] {
    border-radius: 4px;
    background: #FDD22C;

    text-align: center;

    color:  $fontcolor;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;

    display: block;
    width: 100%;
    border: none;
    padding: 20px;

    &:active, &:hover {
      background: #FFB800;
      color: #fff;
    }
    &.error-button{
      background: #D40E14;
    }
  }

  /* TUI INPUT STYLES FOR WL */


  input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="emailFeedback"], input[type="date"], input[type="number"], input[type="telnumber"], input[type="tel"], textarea {
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    padding-left: 7px;
    outline: none;
    border: 1px solid #aaa;
    color: $fontcolor;
    font-size: 12px;
  }

  input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="emailFeedback"]:hover, input[type="date"]:hover, input[type="number"]:hover, input[type="telnumber"]:hover, input[type="tel"]:hover, textarea:hover, input[type="text"]:focus, input[type="number"]:focus,input[type="password"]:focus, input[type="email"]:focus, input[type="emailFeedback"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="telnumber"]:focus, input[type="tel"]:focus, textarea:focus {
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    border-color: $master-primary;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
  }

  form a {
    text-decoration: none;
  }
  .duration-col{
    &.open{
      background: transparent;
      .duration-group{
        border: 1px solid #b9b9b9;
        border-bottom: none;
        box-shadow: 0 0 6px rgba(0,0,0,.3);
      }
      .duration-time{
        background-color: #f3f0ec;
        z-index: 4;
        position: relative;
        border: none;
      }
      .duration-more{
        display: block !important;
      }
      .duration-time{
        i.triggered{
          display: block;
        }
        i.not-triggered{
          display: none;
        }
      }
    }
    .kwp-form-group{
      position: relative;
      .duration-more{
        border: 1px solid #b9b9b9;
        z-index: 3;
        display: none;
        position: absolute;
        top: 100%;
        background: #f3f0ec;
        padding: 5px 10px 20px;
        left: -1px;
        border-top: none;
        width: calc(100% + 2px);
        box-shadow: 0 0 6px rgba(0,0,0,.3);
        .kwp-col-2{
          &:first-child{
            margin-right: 20px;
          }
          width: calc(50% - 10px);
          margin-bottom: 20px;
        }
        .button{
          background: transparent;
          display: block;
          margin-bottom: 0;
          height: auto;
          a{
            width: 100%;
            padding: 20px;
            font-size: 18px;
            display: block;
            border-radius: 3px;
            text-align: center;
            color: $fontcolor;
          }
        }
        hr{
          border-top: 1px solid #b9b9b9;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .pax-col{
    &.open{
      background: transparent;
      .pax-group{
        border: 1px solid #b9b9b9;
        border-bottom: none;
      }
      .travelers{
        background-color: #f3f0ec;
        z-index: 4;
        position: relative;
        border: none;
      }
      .pax-more{
        display: block !important;
      }
      .travelers{
        i.triggered{
          display: block;
        }
        i.not-triggered{
          display: none;
        }
      }
    }
    .kwp-form-group{
      position: relative;
      .pax-more{
        border: 1px solid #b9b9b9;
        z-index: 3;
        display: none;
        position: absolute;
        top: 100%;
        background: #f3f0ec;
        padding: 5px 10px 20px;
        left: -1px;
        border-top: none;
        width: calc(100% + 2px);
        .kids{
          background: transparent;
          .kwp-col-ages{
            background: transparent;
            .main-label{
              color: $master-primary;
              padding: 0;
              margin: 20px 0;
              font-size: 20px !important;
            }
            .kwp-col-3{
              background-color: #fff;
              padding: 0;
              width: 30%;
              margin-right: 15px;
              &:last-child{
                margin-right: 0px;
              }
              select{
                text-indent: 10px;
              }
            }
          }
        }
        .kwp-col-2{
          &:first-child{
            margin-right: 20px;
          }
          width: calc(50% - 10px);
          margin-bottom: 20px;
        }
        .button{
          background: transparent;
          height: auto;
          display: block;
          margin-bottom: 0;
          a{
            width: 100%;
            padding: 20px;
            font-size: 18px;
            display: block;
            border-radius: 3px;
            text-align: center;
            color: $fontcolor;
          }
        }
        hr{
          border-top: 1px solid #b9b9b9;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
    }
  }

}

.kwp.dt-modal-visible  {
}

.kwp-completed {
  h1 {
    font-size: 26px;
    margin: 15px 0;
    color: #20355a;
  }

  p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
  }

  a {
    color: #DB2128;
  }
}

.kwp-date-input {
  //background: #fff url(../../images/layer/calendar.png) no-repeat right 2px;
}

ul.kwp-form-errors {
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 11px;
  color: #DB8021;
}

.kwp-form-email-hint {
  font-size: 14px;
  color: #64C3D7;
  display: none;
  cursor: pointer;
}

.kwp-form-group-minimal-email .kwp-form-email-hint {
  padding: 0 0 0 140px;
  position: absolute;
  top: -22px;
}

.kwp-logo {
  display: none;
  height: 50px;
  background: transparent url(../../images/layer/logo.png) no-repeat left top;
}


.kwp-content, .kwp-content-extra-inner {
  padding: 15px $gutter;
}

.kwp-content.kwp-with-expansion {
  padding-bottom: 0;
  position:relative;
}

.kwp-header-content {
  margin-top: 65px;

  h1 {
    margin: 15px 0 0 0;
    color:  #20355a;
    font-size: 36px;
    font-weight: 700;
  }

  p {
    margin: 10px 0 0 0;
    color: #818181;
    font-size: 17px;
    font-weight: 400;
    width: 445px;
  }
}

.kwp-header {
  background: transparent url(../../images/layer/visual_2_smile_TUI.jpg) no-repeat center center;
  min-height: 40px;
  &.kwp-variant-eil-at{
    .kwp-header-content {
      p {
        width: 430px;
        color: #555;
      }
    }
  }
  &.kwp-variant-eil-d-agent1a,
  &.kwp-variant-eil-d-agent1b,
  &.kwp-variant-eil-d-agent1c,
  &.kwp-variant-eil-d-agent2a,
  &.kwp-variant-eil-d-agent2b,
  &.kwp-variant-eil-d-agent2c,
  &.kwp-variant-eil-n4 {
    background-image: url(../../images/layer/visual_2_smile_TUI.jpg);

    .kwp-header-content {
      p {
        width: 430px;
        color: #555;
      }
    }
  }

  &.kwp-variant-eil-d-beach2 {
    background-image: url(../../images/layer/visual_2_smile_TUI.jpg);

    .kwp-header-content {
      p {
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        color: #333;
      }

      h1 {

      }
    }
  }
}


.kwp-minimal {
  .kwp-footer.kwp-with-expansion {
    padding-top: 55px;
  }

  label.required:after {
    content: '';
  }

  .kwp-agb {
    font-size: 10px;
    padding-top: 0;
  }

  .kwp-tooltip-icon {
    margin: 0;
    padding-right: 5px;
  }
}

.kwp-header {
  padding: $gutter;
}


.kwp-content-extra {
  overflow: hidden;
  max-height: 190px;
  transition: max-height 150ms;

  &.kwp-collapsed {
    max-height: 0;
  }
}

.kwp-content-extra-inner {
  border-top: solid 2px #DEDEDE;
}

.kwp-content-extra,
.kwp-content {
  background: #f3f0ec;
}

.kwp-header-content{
  opacity: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  &.hidden-content{
    opacity: 0;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
  }
}
.kwp-footer {
  background: #fff;
  padding: $gutter;
  z-index: 99999999;
  position: fixed;
  bottom: 0;
  width: 100%;

  &.kwp-with-expansion {
    border-top: solid 2px #FCE237;
    padding-top: 40px;
  }
}

.kwp-btn-expand {
  color: #252525;
  background-color: #DCDCDC;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 -30px;
  padding: 5px 0;
  position: relative;

  &:after {
    display: inline-block;
    content: ' ';
    background: transparent url(../../images/layer/arrow.png) no-repeat left -10px;
    width: 18px;
    height: 10px;
    margin-left: 5px;
  }

  &.kwp-open:after {
    background-position: 0 top;
  }
}

p.kwp-info {
  font-weight: bold;
  padding: 0;
  margin: 0 0 5px 0;
}

.kwp-body {
  position: relative;
  min-height: 150px;
  background: #f2f2f2;
  border-radius: 0 0 $eil-border-radius $eil-border-radius;
  height: calc(100% - 40px);
  form, .kwp-minimal{
    height: 100%;
  }
  .kwp-close{
    display: none;
  }
  &.eil-at-body{
    button[type=submit]{
      background: #cc0066;
      border: solid 1px #cc0066;
      color: #fff;
      text-shadow: initial;
      &:hover{
        background: #f39;
      }
    }
    input[type="text"]{
      border-radius: 4px !important;
      &:focus,&:hover{
        border-color: #cc0066;
      }
    }
    textarea{
      &:focus,&:hover{
        border-color: #cc0066;
      }
    }
    .kwp-spinner{
      border-color: #cc0066;
      border-right-color: transparent;
    }
    .kwp-star {
      &:after {
        background: transparent url(../../images/layer/star_r.png) no-repeat -30px center;
      }
    }
  }
}

.kwp-form-group {
  margin-bottom: 0px;
}

.kwp-form-no-group-margin {
  .kwp-form-group {
    margin-bottom: 0;
  }
}

.kwp-form-group-minimal-email {
  position: relative;
  input,
  label {
    display: inline-block !important;
  }

  label {
    width: 130px !important;
  }

  input {
    width: 255px !important;
  }
}

.kwp-agb {
  padding-top: 4px;
  font-size: 12px;

  input {
    vertical-align: middle;
    float: left;
    &.hasError{
      &:after{
        border: 2px solid #DB2128 !important;
      }
    }
  }
  p{
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.3em;
    a {
      text-decoration: none;
    }
  }
  label {
    font-weight: normal;
    display: inline-block;
    color: #a7a7a7;
    margin: 0;
  }
}

.kw-overlay-notActive{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
  left: 0;
  top: 0;
  z-index: 1;
  opacity:1;
}

.destination{
  .kwp-custom-select {
    border: none;
    box-shadow: none;
    background: transparent;
  }
  .tui-icon--aircraft-down, .tui-icon--location-fill{
    display: none;
  }
}

.kwp-custom-select {
  background: linear-gradient(to bottom,#f4f4f4 0%,#c6c6c6 100%);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.5) inset;
  position: relative;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 4px;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 24px;
    border-left: 1px solid #aaa;

    z-index: 1;
  }

  select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25px;

    font-size: 12px;

    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    padding: 0 2px;
    line-height: 23px;
    z-index: 2;
  }
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.kwp-spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;

  height: 50px;
  width: 50px;
  border: 10px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;

  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin: -25px;
}

@keyframes colours {
  0% { color: red; }
  15% { color: orange; }
  30% { color: yellow; }
  60% { color: green; }
  90% { color: blue; }
  100% { color: red; }
}

.kwp-colours {
  animation-name: colours;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.kwp-star-input {
  text-align: left;
  position: relative;
  .text{
    position: absolute;
    right: 0;
    font-size: 20px;
    bottom: 10px;
  }
}

.kwp-star {
  width: 40px;
  height: 40px;
  cursor: pointer;
  vertical-align: top;
  display:inline-block;

  &:after {
    content: ' ';
    width: 30px;
    height: 40px;
    background: transparent url(../../svg/sun.svg) no-repeat 0px center;
    background-size: 30px;
    display:inline-block;
  }
}

.kwp-star:active {
  margin-top: -1px;
}

.kwp-star-full:after, .kwp-body.eil-at-body .kwp-star-full:after{
  background: transparent url(../../svg/sun-fill.svg) no-repeat 0px center;
}


.kwp-tooltip-icon {
  display: inline-block;
  background: transparent url(../../images/layer/info.png) no-repeat center center;
  vertical-align: text-bottom;
  width: 17px;
  height: 17px;
  position: relative;
  margin-left: 10px;

  .kwp-tooltip-text {
    display: none;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    width: 174px;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
    left: 23px;
    position: absolute;
    top: -2px;

    .kwp-tooltip-arrow {
      position: absolute;
      top: 5px;
      width: 0;
      left: -5px;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 5px 0;
      border-color: transparent rgba(0,0,0,0.7) transparent transparent;
      -webkit-transform: rotate(360deg);
    }
  }

  &:hover {
    .kwp-tooltip-text {
      display: block;
    }
  }
}

.kwp-continent {
  label {
    height: 38px;
  }
}

#agb_link, #datenschutz{
  text-decoration: underline;
}

.email-label-info {
  font-size: 70%;
  display: block;
  line-height: normal;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px),
(max-device-width: 599px),
(min-device-width: 834px) and (max-device-width: 1112px)  and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
(max-device-width: 1280px) and (orientation: landscape),
(max-device-width: 1280px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
(min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2){
  .dt-modal-agb{
    top:0 !important;
    .kwp{
      height: 100% !important;
      padding: 10px !important;
    }
  }
  .kwp{
    width: 100%;
    height: 100vh;
  }
  .kwp-header{
    min-height: 40px;
    height: 40px;
    position: relative;
    width: 100%;
    z-index: 11111;
    padding: 0;
  }
  .kwp-col-4, .kwp-col-2{
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    i{
      position: absolute;
      right: 15px;
      top: 40px;
      font-size: 20px;
      color: $fontcolor;
    }
  }
  .kwp-content-extra{
    max-height: none;
  }
  .kwp-col-4of7, .kwp-col-3of7, .kwp-col-2of7, .kwp-col-6, .kwp-show-ages .kwp-col-time, .kwp-col-ages{
    width: 100%;
  }
  #__email{
    margin-bottom: 0px;
  }
  .kwp-header-content p{
    width: auto;
    opacity:0;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 5px 5px 0 0;
    line-height: 1.2em;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
  }
  .kwp input[type="text"],.kwp input[type="date"]{
    padding-left: 15px;
    height: 40px;
  }
  .mobile-layer {
    .dt-modal{
      top: 0 !important;
      background: rgba(255, 255, 255, 0.01);
      opacity: 1;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      position: fixed;
      height:100%;
      margin: 0;
      &.teaser-on{
        height: 100px;
        display: block !important;
        .kwp{
          background: transparent;
          box-shadow: none;
        }
        .teaser{
          &.active{
            top: 10px;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
          }
        }
      }
      &.m-open{
        top:0 !important;
        background: rgba(9, 42, 94, 0.85);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        .kwp-header{
          h1{
            margin: 0px;
            text-align: center;
            padding: 5px 0;
          }
        }

      }
    }
    .kwp{
      -webkit-transition: opacity 0.1s ease, -webkit-transform 0.5s ease;
      transition: opacity 0.1s ease, -webkit-transform 0.5s ease;
      transition: transform 0.5s ease, opacity 0.1s ease;
      transition: transform 0.5s ease, opacity 0.1s ease, -webkit-transform 0.5s ease;
      height: 100%;
      position: relative;
      margin: 0;
      .kwp-form-errors{
        display: none;
      }
      label{
        font-size: 16px;
        white-space: nowrap;
        color: #a0a0a0;
        padding-left: 10px;
        padding-top: 10px;
        font-weight: normal;
        margin: 0;
      }
      input[type="checkbox"]{
        display: block;
        margin-top: 5px;
        margin-left: 5px;
        &:after{
          content: "";
          display: inline-block;
          height: 25px;
          width: 25px;
          border: 1px solid #737373;
          border-radius: 2px;
          background-color: #fff;
          background-size: 25px;
          background-position: center center;
          margin-left: -5px;
          margin-top: -5px;
        }
      }
      input[type="checkbox"]:checked{
        &:after{
          background-image: url(../../svg/check-white.svg);
        }
      }
    }
    .kwp-header{
      h1{
        font-size: 20px;
        margin: 0px;
        color:$fontcolor;
        padding: 8px 0;
        font-weight: bold;
        text-align: center;
        line-height: 1.7em;
      }
    }
    .kwp-body{
      h1{
        font-size: 18px
      }
      .kwp-close{
        display: block;
      }
      .kwp-completed-tui{
        h1{
          margin-top: 0;
          i{
            display: block;
            text-align: center;
            margin-bottom: 15px;
            font-size: 50px;
            margin-right: 10px;
            color: #AAD700;
          }
        }
      }
    }
    .kwp-content{
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 11111111;
      height: calc(100% - 90px);
    }
    .kwp-header-content{
      margin-top: 0px;
      font-weight: bold;
    }
    .kwp-close{
      width: 25px;
      height: 25px;
      background: transparent url(../../svg/times.svg) no-repeat center center;
      top: 7px;
      right: 5px;
      z-index: 2;
    }
    .dt-modal-agb .kwp-close, .kwp-close.dark {
      background: transparent url(../../svg/times_dark.svg) no-repeat center center;
    }
    .dt-modal-agb .kwp-close{
      width: 50px;
      height: 50px;
      background-size: 20px;
      background-position: right top
    }
    .kwp-custom-select:after{
      width: 42px;
      height: 49px;
    }
    .kwp-custom-select select, .kwp-custom-select{
      height: 35px;
      -webkit-appearance:initial;
      -moz-appearance: initial;
      padding-left: 10px;
    }
    .kwp-footer{
      padding: 10px 30px;
      .kwp-col-4{
        margin-bottom: 0;
      }
    }
    /*.kwp input[type='date']:after {
        content: attr(placeholder);
    }*/
    /***** Fix layer on Mobile ******/
    .kwp{
      .duration-time, .travelers{
        height: 35px;
        line-height: 2em;
        background-color: transparent;
        font-weight: 500;
        border-bottom: 1px solid $master-primary;
        color: $fontcolor;
        border-radius: 0;
        padding: 0 10px;
        font-size: 18px;
        display: block;
        width: 100%;
        position:relative;
        margin: 0;
        i{
          position: absolute;
          right: 15px;
          top: 0;
          font-size: 20px;
          &.triggered{
            display: none;
          }
          &.not-triggered{
            display: block;
          }
        }
      }
      .rangeslider-wrapper{
        background: transparent;
        margin: 0 0 20px;
        .kwp-form-group{
          label{
            margin-bottom: 0px;
            font-size: 20px !important;
            color: #4c4c4c;
            font-weight: 600;
            padding-left: 0;
          }
        }
        input[type="text"]{
          display: none;
        }
        .text{
          margin-bottom: 0px;
          padding: 10px 0;
          font-size: 20px;
          color: $master-primary;
          font-weight: 500;
          line-height: 1.5em;
          display: block;
        }
        input[type="range"]{
          -webkit-appearance: none;
          width: 100%;
          height: 20px;
          outline: none;
          -webkit-transition: .2s;
          transition: opacity .2s;
          background-color: #dcdcdc;
          border-radius: 20px;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #fff;
            cursor: pointer;
            border: 2px solid $master-primary;
            border-radius: 50%;
          }
          &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
          }
        }
      }

      .error-input{
        display: block;
        background: $master-primary;
        padding: 0 10px;
        color: #fff;
      }

      .haserrors{
        .kwp-custom-select select,.kwp-custom-select, .kwp-custom-select:after, input[type="text"], input[type="number"], input[type="date"]{
          border-color: #D40E14;
        }

        input[type="checkbox"]{
          &:after{
            border-color: #D40E14;
          }
        }
        ~ .rangeslider--horizontal{
          background: #D40E14;
          .rangeslider__handle{
            border-color: #D40E14;
          }
        }
        .dd-trigger{
          border-color: #D40E14;
          i{
            color: #D40E14;
          }
        }
      }
      .haserrors + i{
        color: #D40E14;

      }
    }
    .kwp-custom-select select,.kwp-custom-select, .kwp-custom-select:after,.kwp input[type="text"],.kwp input[type="number"], .kwp input[type="date"]{
      height: 35px;
      border: none;
      line-height: 1.5em;
      box-shadow: none;
      background: none;
      background-color: transparent;
      font-weight: 500;
      border-bottom: 1px solid $master-primary;
      border-radius: 0;
      padding: 0 10px;
      font-size: 18px;
      color: $fontcolor;
    }
    .kwp-custom-select{
      #catering{
        padding: 0;
      }
      .hidden{
        display: none;
      }
    }
    .kwp textarea, .kwp input[type="email"]{
      resize: none;
      background: #fff;
      border: none;
      border-bottom: 1px solid !important;
      box-shadow: none;
      border-radius: 0;
      box-sizing: padding-box;
      height: auto;
      border-bottom-color: #b9b9b9 !important;
    }
    .kwp input[type="email"]{
      width: 100%;
      height: 35px;
      background: #f2f2f2 !important;
    }
    .kwp textarea:hover, .kwp input[type="email"]:hover, .kwp textarea:focus, .kwp input[type="email"]:focus{
      border-color: #219ed9;
    }
    .kwp-custom-select:after{
      background: none;
      border: none;
    }
    .kwp-content-extra, .kwp-btn-expand{
      display: none;
    }
    .email-label-info{
      /*display: inline;*/
    }
    .email-label-info:before{
      /*content: ': ';*/
    }
    .kwp-show-ages .kwp-col-ages label{
      font-weight: normal;
    }
    .kwp-show-ages .kwp-col-ages .kwp-col-3{
      width: 33%;
      position: relative;
    }
    .kwp-show-ages .kwp-col-ages .kwp-custom-select, .kwp-show-ages .kwp-col-ages .kwp-custom-select:after,.kwp-show-ages .kwp-col-ages .kwp-custom-select select{
      padding:0;
    }

    .kwp-show-ages .kwp-col-ages .kwp-form-errors{
      white-space: nowrap;
      margin-left: -150px;
      margin-top: 0;
    }
    .kwp-with-expansion .kwp-form-errors{
      position: absolute;
    }
    .white-col{
      background: transparent !important;
      margin: 20px 0;
      label{
        color: #4c4c4c;
        padding: 0;
        font-size: 20px !important;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .email-col{
      margin: 5px 0;
    }
  }
}


@media only screen
and (max-device-width : 320px) {
  .mobile-layer {
    .kwp{
      .kwp-custom-select select,.kwp-custom-select, .kwp-custom-select:after, input[type="text"], input[type="number"], input[type="date"]{
        font-size: 16px;
      }
      .duration-time, .travelers{
        font-size: 16px;
      }
      button[type=submit]{
        font-size: 20px;
      }
      .kwp-star{
        width: 30px;
      }
      .white-col{
        label{
          font-size: 16px;
        }
      }
      label{
        font-size: 16px;
      }
    }
    .teaser{
      h1{
        font-size: 20px;
      }
    }
  }



}

.description textarea{
  height: 120px !important;
  color: black;
}
select[name="category"]{
  border: none;
  padding-left: 5px;
}
.destination{
  border-bottom: 1px solid $master-primary;
}