#app .main-container {
  margin: 0;
  width: 100%;
  padding: 0;
}

.slider {
  width: 100%;
  height: 500px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider .welcome {
  position: absolute;
  top: 50px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.slider .welcome strong {
  display: block;
  font-size: 35px;
  line-height: 70px;
  font-weight: 400;
}

.slider .layer-action {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}

.slider .layer-action a {
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 50px;
}

