@import "utils";

$gutter: 30px;
$altfont: 'HelveticaNeueLT Std', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
$zindex: 10000;
$eil-border-radius: 4px;

@include make-columns(12, $gutter - 5px, 'kwp-');



/**** Datepicker ****/
.datepicker-dropdown .day, .datepicker-dropdown .month, .datepicker-dropdown .year {
  background-color: #fff;
  border-bottom: 1px solid #f3f0ec;
  border-radius: 0;
  color: #092a5e;
  font-weight: 300;
  height: 40px;
}
.datepicker table tr td, .datepicker table tr th {
  border: medium none;
  border-radius: 4px;
  height: 30px;
  text-align: center;
  width: 30px;
  font-weight: normal;
}
.datepicker-dropdown .day.active, .datepicker-dropdown .day.active.active:hover, .datepicker-dropdown .day.active:hover,.datepicker-dropdown .day.active.active:hover:hover, .datepicker-dropdown .month.active, .datepicker-dropdown .month.active.active:hover, .datepicker-dropdown .month.active:hover, .datepicker-dropdown .month.active.active:hover:hover, .datepicker-dropdown .year.active, .datepicker-dropdown .year.active.active:hover, .datepicker-dropdown .year.active:hover, .datepicker-dropdown .year.active.active:hover:hover {
  background-color: #092a5e;
  border-color: transparent;
  color: #fff;
  text-shadow: none;
}
.datepicker .datepicker-switch{
  color: #092a5e;
  font-weight: 700;
}

.kwp-col-2of7 {
  @extend .kwp-col-1;
}

.kwp-col-3of7 {
  @extend .kwp-col-1;
}

.kwp-col-4of7 {
  @extend .kwp-col-1;
}

.kwp-col-time {
  @extend .kwp-col-12;

  .kwp-show-ages & {
    @extend .kwp-col-8;
  }
}

.kwp-col-ages {
  @extend  .kwp-col-4;
  display: none;

  .kwp-show-ages & {
    display: block;
  }
}

.kwp-close-button {
  cursor: pointer;
  width: 39px;
  height: 39px;
  background: transparent url(../../images/layer/close.png) no-repeat center center / 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.trigger-modal{
  width: 50px;
  height: 50px;
  position: fixed;
  display: none;
  background: #e4cd34 url(../../images/layer/pensil.png) no-repeat center / 40%;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
  /*transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;*/
  z-index: 111;
  cursor: pointer;
  -webkit-animation: rotation 10s infinite ;
  animation: rotation 10s infinite ;
}
@-webkit-keyframes rotation {
  0% {-webkit-transform: scale(1);}
  2%   {-webkit-transform: scale(1.2);}

  4% {-webkit-transform: scale(1);}
  6% {-webkit-transform: scale(1.2);}

  8%   {-webkit-transform: scale(1);}
  10% {-webkit-transform: scale(1.2);}

  12% {-webkit-transform: scale(1);}

  100% {transform: scale(1);}

}
@keyframes rotation {
  0% {-webkit-transform: scale(1);}
  2%   {-webkit-transform: scale(1.2);}

  4% {-webkit-transform: scale(1);}
  6% {-webkit-transform: scale(1.2);}

  8%   {-webkit-transform: scale(1);}
  10% {-webkit-transform: scale(1.2);}

  12% {-webkit-transform: scale(1);}

  100% {transform: scale(1);}
}
.kwizzme-modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  display: block;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $zindex;

  font-size: 15px;
  line-height: 19px;
  &.tmp-hidden{
    transition: transform 0.75s ease;
    -webkit-transition: transform 0.75s ease;
    -moz-transition: transform 0.75s ease;
    visibility: hidden;
    opacity: 0;
    .kwp{
      transition: transform 0.75s ease;
      -webkit-transition: transform 0.75s ease;
      -moz-transition: transform 0.75s ease;
      transform: translate(125%, 100%) scale(0.01);
      visibility: hidden;
    }
  }
  * {
    box-sizing: border-box;
  }
}

.kwizzme-modal-agb {
  background: rgba(0, 0, 0, 0.7);
  display: block;

  .kwp {
    padding: 30px;
    background: #fff;
    margin: 10vh auto;
    transform: translate(0, 0);
    display: block;
    height: 80vh;
  }

  .kwp-agb-content {
    overflow: auto;
    padding: 0 15px 15px 15px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.kwp {
  background: #fff;
  /*border: 1px solid #efefef;*/
  width: 760px;
  margin: 50px auto 50px auto;

  font-family: TUITypeLight, sans-serif;

  border-radius: $eil-border-radius;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  transform: translate(0, -100%);
  transition: transform 0.1s ease-out, opacity 0.15s ease-out;
  position: relative;

  input[type=date],
  input[type=text],
  input[type=email],
  input[type=number],
  textarea,
  select {
    width: 100%;
    height: 25px;
  }

  textarea {
    height: 60px;
    padding: 5px;
  }

  label {
    margin: 0 0 2px 0;
    display: block;
    font-weight: bold;

    &.required:after {
      content: '*';
      color: #000;
    }
  }

  button[type=submit] {
    border-radius: 4px;
    border: solid 1px #d8c12d;
    background: linear-gradient(179deg, #fce136 0, #e4cd34 100%);
    box-shadow: inset 0 1px 2px #fff;

    text-align: center;

    font-family: TUITypeLight, sans-serif;
    color:  #252525;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 2px 1px 1px #fff19b;
    line-height: 30px;

    display: block;
    width: 100%;

    padding: 5px 0;
    margin-top: 15px;
    &:active {
      background: linear-gradient(179deg, #e4cd34 0, #fce136 100%);
    }
  }

  /* TUI INPUT STYLES FOR WL */


  input[type="text"], input[type="password"], input[type="email"], input[type="emailFeedback"], input[type="date"], input[type="number"], input[type="telnumber"], input[type="tel"], textarea {
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    padding-left: 7px;
    outline: none;
    border: 1px solid #aaa;
    color: #252525;
    font-size: 12px;
    font-family: $altfont;
  }

  input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="emailFeedback"]:hover, input[type="date"]:hover, input[type="number"]:hover, input[type="telnumber"]:hover, input[type="tel"]:hover, textarea:hover, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="emailFeedback"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="telnumber"]:focus, input[type="tel"]:focus, textarea:focus {
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    border-color: #ffe336;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
  }

  form a {
    text-decoration: none;
  }
}

.kwp.kwizzme-modal-visible  {
  transform: translate(0, 0) !important;
}

.kwp-completed {
  h1 {
    font-size: 26px;
    margin: 15px 0;
    color: #20355a;
  }

  p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
  }

  a {
    color: #DB2128;
  }
}

.kwp-date-input {
  //background: #fff url(../../images/layer/calendar.png) no-repeat right 2px;
}

ul.kwp-form-errors {
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 11px;
  color: #DB8021;
  font-family: TUITypeLight, sans-serif;
}

.kwp-form-email-hint {
  font-size: 14px;
  font-family: TUITypeLight, sans-serif;
  color: #64C3D7;
  display: none;
  cursor: pointer;
}

.kwp-form-group-minimal-email .kwp-form-email-hint {
  padding: 0 0 0 140px;
  position: absolute;
  top: -22px;
}

.kwp-logo {
  display: block;
  height: 50px;
  background: transparent url(../../images/layer/logo.png) no-repeat left top;
}


.kwp-content, .kwp-content-extra-inner {
  padding: 10px $gutter;
}

.kwp-content.kwp-with-expansion {
  padding-bottom: 0;
  position:relative;
}

.kwp-header-content {
  margin-top: 65px;

  h1 {
    margin: 15px 0 0 0;
    color:  #20355a;
    font-size: 36px;
    font-weight: 700;
  }

  p {
    margin: 10px 0 0 0;
    font-family: $altfont;
    color: #818181;
    font-size: 17px;
    font-weight: 400;
    width: 445px;
  }
}

.kwp-header {
  border-radius: $eil-border-radius $eil-border-radius 0 0;
  background: transparent url(../../images/layer/visual_2_smile_TUI.jpg) no-repeat center center;
  min-height: 250px;

  &.kwp-variant-eil-d-agent1a,
  &.kwp-variant-eil-d-agent1b,
  &.kwp-variant-eil-d-agent1c,
  &.kwp-variant-eil-d-agent2a,
  &.kwp-variant-eil-d-agent2b,
  &.kwp-variant-eil-d-agent2c,
  &.kwp-variant-eil-n4 {
    background-image: url(../../images/layer/visual_2_smile_TUI.jpg);

    .kwp-header-content {
      p {
        width: 430px;
        color: #555;
      }
    }
  }

  &.kwp-variant-eil-d-beach2 {
    background-image: url(../../images/layer/visual_2_smile_TUI.jpg);

    .kwp-header-content {
      p {
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        color: #333;
      }

      h1 {

      }
    }
  }
}


.kwp-minimal {
  .kwp-footer.kwp-with-expansion {
    padding-top: 55px;
  }

  label.required:after {
    content: '';
  }

  .kwp-agb {
    font-size: 10px;
    padding-top: 10px;
    line-height: 1.3em;
  }

  .kwp-tooltip-icon {
    margin: 0;
    padding-right: 5px;
  }
}

.kwp-header {
  padding: $gutter;
}


.kwp-content-extra {
  overflow: hidden;
  max-height: 190px;
  transition: max-height 150ms;

  &.kwp-collapsed {
    max-height: 0;
  }
}

.kwp-content-extra-inner {
  border-top: solid 1px #DEDEDE;
}

.kwp-content-extra,
.kwp-content {
  background: #f2f2f2;
}

.kwp-header-content{
  opacity: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  &.hidden-content{
    opacity: 0;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
  }
}
.kwp-footer {
  background: #fff;
  border-radius: 0 0 $eil-border-radius $eil-border-radius;
  padding: 15px $gutter;
  position: relative;

  &.kwp-with-expansion {
    border-top: solid 2px #FCE237;
    padding-top: 40px;
  }
}

.kwp-btn-expand {
  color: #252525;
  background-color: #DCDCDC;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 -30px;
  padding: 5px 0;
  position: relative;

  &:after {
    display: inline-block;
    content: ' ';
    background: transparent url(../../images/layer/arrow.png) no-repeat left -10px;
    width: 18px;
    height: 10px;
    margin-left: 5px;
  }

  &.kwp-open:after {
    background-position: 0 top;
  }
}

p.kwp-info {
  font-weight: bold;
  padding: 0;
  margin: 0 0 5px 0;
}

.kwp-body {
  position: relative;
  min-height: 150px;
  background: #f2f2f2;
  border-radius: 0 0 $eil-border-radius $eil-border-radius;
  .kwp-close{
    display: none;
  }
  &.eil-at-body{
    font-family: 'Foco W02 Light',sans-serif;
    button[type=submit]{
      background: #cc0066;
      border: solid 1px #cc0066;
      color: #fff;
      text-shadow: initial;
      font-family: 'Foco W02 Light',sans-serif;
      &:hover{
        background: #f39;
      }
    }
    input[type="text"]{
      font-family: 'Foco W02 Light',sans-serif;
      border-radius: 4px !important;
      &:focus,&:hover{
        border-color: #cc0066;
      }
    }
    textarea{
      &:focus,&:hover{
        border-color: #cc0066;
      }
    }
    .kwp-spinner{
      border-color: #cc0066;
      border-right-color: transparent;
    }
    .kwp-star {
      &:after {
        background: transparent url(../../images/layer/star_r.png) no-repeat -20px center;
      }
    }
  }
}

.kwp-form-group {
  margin-bottom: 10px;
}

.kwp-form-no-group-margin {
  .kwp-form-group {
    margin-bottom: 0;
  }
}

.kwp-form-group-minimal-email {
  position: relative;
  input,
  label {
    display: inline-block !important;
  }

  label {
    width: 130px !important;
  }

  input {
    width: 255px !important;
  }
}

.kwp-agb {
  padding-top: 4px;
  font-size: 12px;
  font-family: $altfont;
  .kwp-col-1{
    padding-right: 0;
    margin-right: 0;
    padding-top: 1px;
  }

  .kwp-col-11{
    padding-left: 0;
    a{
      text-decoration: underline;
    }
  }

  input {
    vertical-align: text-top;
  }

  label {
    font-weight: normal;
    display: inline-block;
    color: #a7a7a7;
    margin: 0;


    a {
      text-decoration: underline;
      color: inherit !important;
    }
  }
}

.kw-overlay-notActive{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
  left: 0;
  top: 0;
  z-index: 1;
  opacity:1;
}

.kwp-custom-select {
  background: linear-gradient(to bottom,#f4f4f4 0%,#c6c6c6 100%);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.5) inset;
  position: relative;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 4px;

  &:after {
    content: ' ';
    background: url(../../images/layer/arrow_down.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 24px;
    border-left: 1px solid #aaa;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
  }

  select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25px;

    font-family: $altfont;
    font-size: 12px;

    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    padding: 0 2px;
    line-height: 23px;
    z-index: 2;
    text-indent: 2px;
  }
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.kwp-spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;

  height: 50px;
  width: 50px;
  border: 10px solid #fce237;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;

  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin: -25px;
}

@keyframes colours {
  0% { color: red; }
  15% { color: orange; }
  30% { color: yellow; }
  60% { color: green; }
  90% { color: blue; }
  100% { color: red; }
}

.kwp-colours {
  animation-name: colours;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.kwp-star-input {
  text-align: left;
}

.kwp-star {
  width: 30px;
  height: 25px;
  cursor: pointer;
  vertical-align: top;
  display:inline-block;

  &:after {
    content: ' ';
    width: 20px;
    height: 25px;
    background: transparent url(../../images/layer/sun.png) no-repeat -19px center;
    display:inline-block;
  }
}

.kwp-star:active {
  margin-top: -1px;
}

.kwp-star-full:after, .kwp-body.eil-at-body .kwp-star-full:after{
  background-position: 0 center;
}


.kwp-tooltip-icon {
  display: inline-block;
  background: transparent url(../../images/layer/info.png) no-repeat center center;
  vertical-align: text-bottom;
  width: 17px;
  height: 17px;
  position: relative;
  margin-left: 10px;

  .kwp-tooltip-text {
    display: none;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    width: 174px;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
    left: 23px;
    position: absolute;
    top: -2px;

    .kwp-tooltip-arrow {
      position: absolute;
      top: 5px;
      width: 0;
      left: -5px;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 5px 0;
      border-color: transparent rgba(0,0,0,0.7) transparent transparent;
      -webkit-transform: rotate(360deg);
    }
  }

  &:hover {
    .kwp-tooltip-text {
      display: block;
    }
  }
}

.kwp-continent {
  label {
    height: 38px;
  }
}

#agb_link {
  text-decoration: underline;
}

.email-label-info {
  font-size: 69%;
  display: block;
  line-height: normal;
}